.count-words {
    &__content {
        & form {
            display: flex;
            flex-direction: column;
        }

        & h4 {
            margin-bottom: 0;
        }

        & input {
            margin: 20px 0;
        }

        & button {
            max-width: 300px;
        }

        &__chart {
            margin: 30px 0;
        }
    }
}